.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-card-stock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stock-color {
    color: lightseagreen;
}

.flex-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid darkslategrey;
    margin: 10px 5px;
    position: relative;
    padding: 10px 10px;
}

.flex-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.position-abarot {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;
}

.position-price {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: darkgrey;
    height: 60px;
}

.nav-btn {
    background: antiquewhite;
    color: rosybrown;
    border-radius: 10px;
    border: 1px solid rosybrown;
    padding: 10px 20px;
    margin-left: 15px;
    margin-right: 10px;

}

.nav-btn:hover {
    transition: 2ms;
    background-color: navajowhite;
    color: dimgrey;
    border: 1px solid dimgrey;
    font-size: 110%;
    box-shadow: 5px 5px dimgrey;
}

table {
    width: 500px;
    margin-top: 40px;
    border: 2px solid darkslategrey;

}

th {
    height: 50px;
}

td,th {
    border-right: 1px solid darkslategrey;
    text-align:center;
}

td:last-of-type, th:last-of-type {
    border-right: 0;
}